* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.any {
    background: #B4B8AB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #B4B8AB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #B4B8AB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('banner.webp');
    height: 100%;
    min-height: 100%;
    height: auto !important;
    background-repeat: no-repeat;
    webkit-background-size: cover;
    background-size: cover;
    place-items: center;
    display: grid;
    text-align: center;
}
.plsWork {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-image: url('banner.webp');
     background-size: cover;
     background-size: 100% 100%;
     place-items: center;
     display: grid;
     text-align: center;
     position: fixed;
       top: 55px;
       left: 0;
       right: 0;
       bottom: 0;
       margin: auto;
       min-width: 50%;
       min-height: 50%;
}

input[type=text]{
    color: blue;
    text-align: center;
    transition: 0.6s;
    border: none;
  }

#name {
    color: #28a2a2;
    position:relative;
    top:30px;
    left:0px;
    margin-left:0px;
    margin-right:0px;
}
#lookup {
    color: black;
    position:relative;
    top:80px;
    left:0px;
    margin-left:0px;
    margin-right:0px;
}

/* Search Bar css */

.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}


input:focus {
  outline: none;
}


.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}
